.thumbnail_card {
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: auto !important;
  min-height: 350px !important; /* Adjust as needed */
  padding-bottom: 20% !important; /* Adjust aspect ratio as needed */
}
.max-w-prose {
  max-width: 100ch;
}

h1 {
  text-align: left;
}

.ml-auto {
  margin-left: auto;
}

.lg\:ml-auto {
  margin-left: auto;
}
.max-w-full {
  max-width: 100%;
}

body * {
  justify-content: center;
}




